openapi: 3.2.0
info:
  title: RoadSyncPay Public Loads API
  version: '1.0'
  description: RoadSync Pay API
  contact:
    email: advance@roadsync.com
    url: https://roadsync.com
  termsOfService: https://roadsync.com/roadsync-pay-service-terms-of-use/
  license:
    name: Proprietary
    url: https://roadsync.com/
servers:
- url: https://api.roadsync.app/rspay/v1
  description: prod
- url: https://test.api.roadsync.app/rspay/v1
  description: test
- url: https://dev.api.roadsync.app/rspay/v1
  description: dev
tags:
- name: Loads
paths:
  /loads:
    get:
      summary: Get a List of All Loads
      operationId: get-loads
      responses:
        '200':
          $ref: '#/components/responses/getLoads'
      x-stoplight:
        id: co4pq80p7nc6t
      description: Return a list of Loads associated with a Broker. Optionally filter by load_number or external_id.
      parameters:
      - $ref: '#/components/parameters/broker_header'
      - name: load_number
        in: query
        required: false
        schema:
          type: string
        description: Filter loads by load number.
      - name: external_id
        in: query
        required: false
        schema:
          type: string
        description: Filter loads by external ID.
      security:
      - x-api-key: []
      tags:
      - Loads
    post:
      summary: Create a Load
      operationId: post-loads
      responses:
        '201':
          description: Load created successfully or existing load returned. If a load with the same load_number and broker_id already exists, the existing load's identifier is returned instead of creating a duplicate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/id'
        '400':
          description: Bad Request
        '409':
          description: Conflict
      parameters:
      - $ref: '#/components/parameters/broker_header'
      security:
      - x-api-key: []
      tags:
      - Loads
      requestBody:
        $ref: '#/components/requestBodies/createLoad'
      description: Create a Load. If a load with the specified load_number already exists for the broker, the existing load's identifier will be returned with a 201 status instead of creating a duplicate load.
  /loads/{load_id}:
    parameters:
    - schema:
        type: string
      name: load_id
      in: path
      required: true
    get:
      summary: Get a single Load
      operationId: get-load
      responses:
        '200':
          $ref: '#/components/responses/getLoad'
      description: Return a single Load associated with a Broker.
      parameters:
      - $ref: '#/components/parameters/broker_header'
      security:
      - x-api-key: []
      tags:
      - Loads
components:
  schemas:
    load:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/loadId'
        amount:
          $ref: '#/components/schemas/amount'
        status:
          $ref: '#/components/schemas/status'
        created_datetime:
          $ref: '#/components/schemas/createdDatetime'
        updated_datetime:
          $ref: '#/components/schemas/updatedDatetime'
        payee:
          title: load_payee
          type: object
          description: Details of the Payee receiving the funds. It could be a Carrier or Factoring Company.
          properties:
            id:
              $ref: '#/components/schemas/id'
            payee_name:
              $ref: '#/components/schemas/payeeName'
            mc_number:
              $ref: '#/components/schemas/mcNumber'
            dot_number:
              $ref: '#/components/schemas/dotNumber'
            is_verified:
              $ref: '#/components/schemas/isVerified'
            is_factoring_company:
              $ref: '#/components/schemas/isFactoringCompany'
            available_payment_types:
              $ref: '#/components/schemas/availablePaymentTypes'
        carrier_payee:
          $ref: '#/components/schemas/payeeShort'
        payable:
          title: load_payable
          type: object
          description: The payable associated with the Load.
          properties:
            id:
              $ref: '#/components/schemas/payableId'
            amount:
              $ref: '#/components/schemas/amount'
            status:
              $ref: '#/components/schemas/status'
            payment_method:
              $ref: '#/components/schemas/paymentMethod'
            transaction:
              title: load_payable_transaction
              type: object
              description: The transaction associated with the Load.
              properties:
                id:
                  $ref: '#/components/schemas/id'
                status:
                  $ref: '#/components/schemas/status'
                payment_method:
                  $ref: '#/components/schemas/paymentMethod'
    isFactoringCompany:
      title: is_factoring_company
      x-stoplight:
        id: mmie0j9euqu37
      type: boolean
      description: Send "true" if this Payee is a Factoring Company, "false" otherwise.
      example: true
    payableId:
      type: integer
      x-stoplight:
        id: xsyrirwk8n0m7
      example: 87346
      title: payable_id
      description: The Payable's ID
    isVerified:
      title: is_verified
      type: boolean
      example: false
      x-stoplight:
        id: yfowmo738h8iv
      description: A verified Payee is visible to all brokers in the RoadSync Pay environment. Some partners are allowed to verify a Payee by setting the is_verified flag to true during creation or update.
    updatedDatetime:
      title: updated_datetime
      x-stoplight:
        id: 8gm15jfl51vcm
      type: string
      description: Indicates the last time the entity was updated in ISO 8601 format.
      example: '2023-10-26T00:00:00+00:00'
      format: date-time
    payeeId:
      type: integer
      x-stoplight:
        id: unf2lv7eugr65
      description: The unique identifier of the Payee who will receive the funds. It could be a Carrier or a Factoring Company.
      example: 896876
      title: payee_id
    payeeShort:
      title: payee_short
      x-stoplight:
        id: lkabmmw82vbyo
      type: object
      description: Details of the Payee receiving the funds. It could be a Carrier or Factoring Company.
      properties:
        id:
          $ref: '#/components/schemas/id'
          x-stoplight:
            id: iwebybg0xhizd
        payee_name:
          $ref: '#/components/schemas/payeeName'
          x-stoplight:
            id: cxr9ou6peuwve
        is_verified:
          $ref: '#/components/schemas/isVerified'
          x-stoplight:
            id: 3wmef993rqlri
    loadNumber:
      type: string
      example: abc12234
      description: The Load Number
    paymentTarget:
      title: payment_target
      description: A valid Payee payment target.
      x-stoplight:
        id: pqgsyu00mynep
      enum:
      - ACH
      - PAPER_CHECK
      - RTP
      example: ACH
    externalId:
      title: external_id
      x-stoplight:
        id: vnd04wmmq2x21
      type: string
      example: 14973-83
      description: A unique identifier you have for the item.
    brokerId:
      title: broker_id
      type: integer
      example: 66305
      x-stoplight:
        id: 364l19xr2t37h
      description: The identifier of a Broker to which the Payee will be assigned or has already been assigned.
    paymentMethod:
      title: payment_method
      description: The method used to settle a payable.
      x-stoplight:
        id: 0jtzkjzaao1jc
      enum:
      - ACH
      - ACH_NEXT_DAY
      - ACH_SAME_DAY
      - PAPER_CHECK
      - WALLET_ACH
      - WALLET_ACH_NEXT_DAY
      - WALLET_ACH_SAME_DAY
      - WALLET_RTP
      example: ACH_NEXT_DAY
    loadId:
      type: integer
      example: 87346
      title: load_id
      description: The Load's ID
    status:
      title: status
      x-stoplight:
        id: e75bu0q7243zf
      enum:
      - NEW
      - PENDING
      - PROCESSING
      - COMPLETE
      - CANCELLED
      - FAILED
      - SCHEDULED
      - DELETED
      - UNKNOWN
      description: The current status of the payable. UNKNOWN is returned when the status value is not recognized.
      example: SCHEDULED
    mcNumber:
      type: string
      x-stoplight:
        id: 70s19yd5cd75e
      description: Motor Carrier Number is a a nine-digit identifier assigned by the FMCSA to moving companies operating in interstate commerce. If inserted, it will be validated.
      example: MC612791
      title: mc_number
    id:
      type: integer
      x-stoplight:
        id: f7ra661j53v04
      example: 87346
      title: id
      description: The id number of the object being returned.
    createdDatetime:
      title: created_datetime
      x-stoplight:
        id: v60tecbjlr4rs
      type: string
      format: date-time
      description: Indicates the datetime when the object was created in ISO 8601 format.
      example: '2023-10-26T00:00:00+00:00'
    payeeName:
      type: string
      x-stoplight:
        id: t7yn3ksmmn262
      description: The name of the Carrier or Factoring Company.
      example: Camila Trucking LLC
      title: payee_name
    dotNumber:
      type: string
      x-stoplight:
        id: c2zo0dhnzfjnp
      description: U.S. Department of Transportation Number is an up to ten-digit assigned by the FMCSA to moving companies operating in interstate commerce. If inserted, it will be validated.
      example: '2428196'
      title: dot_number
    amount:
      title: amount
      x-stoplight:
        id: tayy9oxji4gww
      type: number
      description: Money in USD to transfer or has been transferred.
      example: 123.45
    availablePaymentTypes:
      title: available_payment_types
      x-stoplight:
        id: 9us2vhly5l9u3
      type: array
      description: A list of the availablepayment methods a Payee is able to receive. Possible values are PAPER_CHECK, ACH, RTP
      example:
      - PAPER_CHECK
      - ACH
      - RTP
      items:
        $ref: '#/components/schemas/paymentTarget'
  responses:
    getLoads:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/load'
    getLoad:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/load'
  parameters:
    broker_header:
      name: broker-id
      in: header
      schema:
        $ref: '#/components/schemas/brokerId'
      description: The id of the broker
      required: true
  requestBodies:
    createLoad:
      content:
        application/json:
          schema:
            type: object
            properties:
              load_number:
                $ref: '#/components/schemas/loadNumber'
              amount:
                $ref: '#/components/schemas/amount'
              external_id:
                $ref: '#/components/schemas/externalId'
              payee_id:
                $ref: '#/components/schemas/payeeId'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
x-stoplight:
  id: n4ffpzmgt2fsp
x-amazon-apigateway-api-key-source: HEADER
