openapi: 3.2.0
info:
  title: RoadSyncPay Public Eta API
  version: '1.0'
  description: RoadSync Pay API
  contact:
    email: advance@roadsync.com
    url: https://roadsync.com
  termsOfService: https://roadsync.com/roadsync-pay-service-terms-of-use/
  license:
    name: Proprietary
    url: https://roadsync.com/
servers:
- url: https://api.roadsync.app/rspay/v1
  description: prod
- url: https://test.api.roadsync.app/rspay/v1
  description: test
- url: https://dev.api.roadsync.app/rspay/v1
  description: dev
tags:
- name: ETA
  description: ETA (Estimated Time of Arrival) endpoints
paths:
  /eta:
    get:
      summary: Get ETA Information
      tags:
      - ETA
      responses:
        '200':
          description: ETA response
          content:
            application/json:
              schema:
                type: object
                properties:
                  eta:
                    $ref: '#/components/schemas/eta'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      operationId: get-eta
      x-stoplight:
        id: eta-endpoint-001
      parameters:
      - name: transfer_method
        in: query
        required: true
        schema:
          type: string
          enum:
          - ACH
          - NEXTDAYACH
          - SAMEDAYACH
          - PAPERCHECK
        description: The transfer method for calculating ETA. Must be one of the supported payment methods.
      - name: scheduled_date
        in: query
        required: true
        schema:
          type: string
          format: date
        description: The scheduled date for the transfer
      security:
      - x-api-key: []
      description: Get estimated time of arrival (ETA) for a transfer based on transfer method and scheduled date.
components:
  schemas:
    eta:
      type: string
      x-stoplight:
        id: jsosz1li3h5v2
      description: The estimated time of arrival of the payment, based on the payment method selected and scheduled date in ISO 8601 format.
      title: eta
      example: '2023-10-27T13:00:00+00:00'
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
x-stoplight:
  id: n4ffpzmgt2fsp
x-amazon-apigateway-api-key-source: HEADER
