openapi: 3.2.0
info:
  title: RoadSyncPay Public Directory API
  version: '1.0'
  description: RoadSync Pay API
  contact:
    email: advance@roadsync.com
    url: https://roadsync.com
  termsOfService: https://roadsync.com/roadsync-pay-service-terms-of-use/
  license:
    name: Proprietary
    url: https://roadsync.com/
servers:
- url: https://api.roadsync.app/rspay/v1
  description: prod
- url: https://test.api.roadsync.app/rspay/v1
  description: test
- url: https://dev.api.roadsync.app/rspay/v1
  description: dev
tags:
- name: Directory
paths:
  /payee-candidates:
    get:
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: The query for searching payee candidates
      summary: Search Payee Candidates
      tags:
      - Directory
      responses:
        '200':
          description: Example response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/id'
                      payee_name:
                        $ref: '#/components/schemas/payeeName'
                      mc_number:
                        $ref: '#/components/schemas/mcNumber'
                      dot_number:
                        $ref: '#/components/schemas/dotNumber'
                      email_address:
                        $ref: '#/components/schemas/emailAddress'
                      phone_number:
                        $ref: '#/components/schemas/phoneNumber'
                      first_name:
                        $ref: '#/components/schemas/firstName'
                      last_name:
                        $ref: '#/components/schemas/lastName'
                      address_line_one:
                        $ref: '#/components/schemas/addressLineOne'
                      address_line_two:
                        $ref: '#/components/schemas/addressLineTwo'
                      address_city:
                        $ref: '#/components/schemas/city'
                      address_state:
                        $ref: '#/components/schemas/state'
                      address_zip:
                        $ref: '#/components/schemas/postalCode'
                      ach_funding_source_id:
                        $ref: '#/components/schemas/fundingSourceId'
                      paper_check_funding_source_id:
                        $ref: '#/components/schemas/fundingSourceId'
                      available_payment_types:
                        $ref: '#/components/schemas/availablePaymentTypes'
                      is_verified:
                        $ref: '#/components/schemas/isVerified'
                x-stoplight:
                  id: vhtkgvp4mic8z
      operationId: get-payee-candidates
      x-stoplight:
        id: 2m3lk71ioo5c8
      security:
      - x-api-key: []
components:
  schemas:
    phoneNumber:
      title: phone_number
      x-stoplight:
        id: coa4x7lscfh80
      type: string
      description: A valid phone number belonging to a person or company.
      example: '3243444347'
    paymentTarget:
      title: payment_target
      description: A valid Payee payment target.
      x-stoplight:
        id: pqgsyu00mynep
      enum:
      - ACH
      - PAPER_CHECK
      - RTP
      example: ACH
    city:
      title: city
      x-stoplight:
        id: 8ypbld5r20d6o
      type: string
      description: A valid city in the United States.
      example: Atlanta
    fundingSourceId:
      title: funding_source_id
      x-stoplight:
        id: 62r95b324501y
      $ref: '#/components/schemas/id'
      description: Id representing the funding source (papercheck, ach or wallet).
    addressLineOne:
      title: address_line_one
      x-stoplight:
        id: p3a1crckckndd
      type: string
      description: The valid address of a person or business in the United States.
      example: 715 Peachtree St
    payeeName:
      type: string
      x-stoplight:
        id: t7yn3ksmmn262
      description: The name of the Carrier or Factoring Company.
      example: Camila Trucking LLC
      title: payee_name
    firstName:
      type: string
      x-stoplight:
        id: 7p7kmat8ktz1s
      example: Camila
      title: first_name
      description: The first name of a contact or user.
    emailAddress:
      type: string
      x-stoplight:
        id: yd026juzie7jh
      description: A valid email belonging to the person or company.
      title: email_address
      example: crogers@camilatrucking.com
    isVerified:
      title: is_verified
      type: boolean
      example: false
      x-stoplight:
        id: yfowmo738h8iv
      description: A verified Payee is visible to all brokers in the RoadSync Pay environment. Some partners are allowed to verify a Payee by setting the is_verified flag to true during creation or update.
    dotNumber:
      type: string
      x-stoplight:
        id: c2zo0dhnzfjnp
      description: U.S. Department of Transportation Number is an up to ten-digit assigned by the FMCSA to moving companies operating in interstate commerce. If inserted, it will be validated.
      example: '2428196'
      title: dot_number
    postalCode:
      title: postal_code
      x-stoplight:
        id: v5t2utdpxdar3
      type: string
      description: A valid postal code in the United States.
      example: '30306'
    mcNumber:
      type: string
      x-stoplight:
        id: 70s19yd5cd75e
      description: Motor Carrier Number is a a nine-digit identifier assigned by the FMCSA to moving companies operating in interstate commerce. If inserted, it will be validated.
      example: MC612791
      title: mc_number
    id:
      type: integer
      x-stoplight:
        id: f7ra661j53v04
      example: 87346
      title: id
      description: The id number of the object being returned.
    availablePaymentTypes:
      title: available_payment_types
      x-stoplight:
        id: 9us2vhly5l9u3
      type: array
      description: A list of the availablepayment methods a Payee is able to receive. Possible values are PAPER_CHECK, ACH, RTP
      example:
      - PAPER_CHECK
      - ACH
      - RTP
      items:
        $ref: '#/components/schemas/paymentTarget'
    lastName:
      type: string
      x-stoplight:
        id: sbyxhe07a7czs
      title: last_name
      description: The last name of a user or contact.
      example: Rogers
    state:
      title: state
      x-stoplight:
        id: xwqz3invlqyrz
      type: string
      description: A valid 2 character state code in the United States.
      example: GA
    addressLineTwo:
      title: address_line_two
      x-stoplight:
        id: jpnvzmg54ky3l
      type:
      - string
      - 'null'
      description: If necessary, add a second line of the address in the United States.
      example: APT 23
  securitySchemes:
    x-api-key:
      name: x-api-key
      type: apiKey
      in: header
x-stoplight:
  id: n4ffpzmgt2fsp
x-amazon-apigateway-api-key-source: HEADER
